<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>My Garden Manager</h1>
    <p>Manage, Cultivate and Grow Your Gardens and Your Experience</p>
    <a class="btn btn-flat" href="#">Discover</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">How does it work?</h2>
  <div class="row how">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="icon">
        <%= image_tag "garden.svg" %>
      </div>
      <p class="text-center">Create your garden</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="icon">
        <%= image_tag "circles.svg" %>
      </div>
      <p class="text-center">Add your plants</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="icon">
        <%= image_tag "watering.svg" %>
      </div>
      <p class="text-center">Manage your daily activity</p>
    </div>
  </div>
  <h2 class="text-center">Our community best gardens</h2>
  <div class="cards">
    <% @gardens.each do |garden| %>
      <%= render "shared/card_trip", garden: garden %>
    <% end %>
  </div>
</div>


<div>
  Footer
</div>
