<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>My Garden Manager</h1>
    <p>Manage, Cultivate and Grow Your Gardens and Your Experience</p>
    <a class="btn btn-flat" href="#">Discover</a>
  </div>
</div>

<div class="how container">
  <h2 class="text-center">How does it work?</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="icon">
        <%= image_tag "garden.svg" %>
      </div>
      <p class="text-center">Create your garden</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="icon">
        <%= image_tag "circles.svg" %>
      </div>
      <p class="text-center">Add your plants</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="icon">
        <%= image_tag "watering.svg" %>
      </div>
      <p class="text-center">Manage your daily activity</p>
    </div>
  </div>
</div>

<div>
  <h2>Our community best gardens:</h2>
  <ul>
    <% @gardens.each do |garden| %>
      <li>
        <p><%= garden.name %></p>
        <p><%= garden.banner_url %></p>
        <p><%= link_to 'Show', garden %></p>
        <p><%= link_to 'Edit', edit_garden_path(garden) %></p>
        <p><%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
    <% end %>
  </ul>
</div>

<div>
  Footer
</div>
